In [53]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [54]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-07-31 23:16:22,19.7297,-155.0900,83.93,65,1,12.66
1,1,Port Alfred,ZA,2021-07-31 23:16:23,-33.5906,26.8910,65.86,34,100,7.94
2,2,Albany,US,2021-07-31 23:16:24,42.6001,-73.9662,71.37,56,43,6.24
3,3,Pisco,PE,2021-07-31 23:13:49,-13.7000,-76.2167,64.45,77,0,10.36
4,4,Mataura,NZ,2021-07-31 23:16:25,-46.1927,168.8643,48.47,100,100,1.99

In [55]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [56]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [57]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

In [59]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [60]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [64]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-07-31 23:16:22,19.7297,-155.0900,83.93,65,1,12.66
5,5,Gillette,US,2021-07-31 23:15:52,44.2911,-105.5022,83.80,28,46,8.99
8,8,San Quintin,MX,2021-07-31 23:16:26,30.4833,-115.9500,75.79,66,40,13.73
9,9,Kapaa,US,2021-07-31 23:16:27,22.0752,-159.3190,86.32,68,75,3.00
16,16,North Myrtle Beach,US,2021-07-31 23:16:31,33.8160,-78.6800,89.35,78,1,1.99
18,18,Les Cayes,HT,2021-07-31 23:16:32,18.2000,-73.7500,79.36,85,52,3.83
29,29,Fort Nelson,CA,2021-07-31 23:16:39,58.8053,-122.7002,89.19,22,20,2.30
32,32,Thompson,CA,2021-07-31 23:15:13,55.7435,-97.8558,75.36,43,75,10.36
41,41,Merauke,ID,2021-07-31 23:16:46,-8.4667,140.3333,76.30,87,90,12.84
42,42,Pochutla,MX,2021-07-31 23:16:47,15.7432,-96.4661,89.82,74,29,6.64

In [65]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [66]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
0                 Hilo      US     83.93  19.7297 -155.0900
5             Gillette      US     83.80  44.2911 -105.5022
8          San Quintin      MX     75.79  30.4833 -115.9500
9                Kapaa      US     86.32  22.0752 -159.3190
16  North Myrtle Beach      US     89.35  33.8160  -78.6800
18           Les Cayes      HT     79.36  18.2000  -73.7500
29         Fort Nelson      CA     89.19  58.8053 -122.7002
32            Thompson      CA     75.36  55.7435  -97.8558
41             Merauke      ID     76.30  -8.4667  140.3333
42            Pochutla      MX     89.82  15.7432  -96.4661

In [68]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [73]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,83.93,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Gillette,US,83.80,44.2911,-105.5022,National 9 Inn - Gillette WY
8,San Quintin,MX,75.79,30.4833,-115.9500,Don Eddie's Sport Fishing Center
9,Kapaa,US,86.32,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,North Myrtle Beach,US,89.35,33.8160,-78.6800,Avista Resort
...,...,...,...,...,...,...
540,Lagos,NG,79.12,6.5833,3.7500,
541,Tagusao,PH,80.82,9.1924,117.8141,Toledo
544,Yatou,CN,79.54,37.1500,122.3833,GreenTree Hotel Rongcheng Bus Station
550,Wagar,SD,75.16,16.1525,36.2032,
551,Tongren,CN,79.70,27.7172,109.1853,Fanjing Mountain International Conference Center

In [76]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [78]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [79]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))