## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import sys
sys.path.append('../')
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [32]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Akdepe,TM,75.29,clear sky,42.0551,59.3788,Мой дом
1,3,Touros,BR,79.70,clear sky,-5.1989,-35.4608,INN NEW HORIZON
2,10,Atuona,PF,77.11,scattered clouds,-9.8000,-139.0333,Villa Enata
3,12,Kapaa,US,84.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,16,Avarua,CK,75.25,moderate rain,-21.2078,-159.7750,Paradise Inn

In [34]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [35]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Pacific Grove"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Pacific Grove"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Half Moon Bay"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Eureka"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Truckee"]

In [38]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
143,436,Pacific Grove,US,83.16,clear sky,36.6177,-121.9166,Lovers Point Inn

In [39]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
143,436,Pacific Grove,US,83.16,clear sky,36.6177,-121.9166,Lovers Point Inn

In [40]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
37,140,Half Moon Bay,US,88.92,few clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

In [41]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
98,294,Eureka,US,85.68,broken clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham

In [42]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
68,231,Truckee,US,88.09,scattered clouds,39.328,-120.1833,Truckee Donner Lodge

In [43]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0, 5], vacation_start.to_numpy()[0, 6]
end = vacation_end.to_numpy()[0, 5], vacation_end.to_numpy()[0, 6]
stop1 = vacation_stop1.to_numpy()[0, 5], vacation_stop1.to_numpy()[0, 6]
stop2 = vacation_stop2.to_numpy()[0, 5], vacation_stop2.to_numpy()[0, 6]
stop3 = vacation_stop3.to_numpy()[0, 5], vacation_stop3.to_numpy()[0, 6]

In [44]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints = [stop1, stop2, stop3],
    travel_mode = "DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,436,Pacific Grove,US,83.16,clear sky,36.6177,-121.9166,Lovers Point Inn
1,140,Half Moon Bay,US,88.92,few clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
2,294,Eureka,US,85.68,broken clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
3,231,Truckee,US,88.09,scattered clouds,39.3280,-120.1833,Truckee Donner Lodge

In [29]:
itinerary_df.reset_index(drop = True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,436,Pacific Grove,US,83.16,clear sky,36.6177,-121.9166,Lovers Point Inn
1,140,Half Moon Bay,US,88.92,few clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
2,294,Eureka,US,85.68,broken clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
3,231,Truckee,US,88.09,scattered clouds,39.3280,-120.1833,Truckee Donner Lodge

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))